* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #1a1a1a;
}

.container {
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 5px solid white;

  display: flex;
  flex-wrap: wrap;
}

.container-secondary {
  max-width: 700px;
  height: 500px;
  margin: 15px auto;
  border: 5px solid white;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: center;
  align-content: center;
}

@media (max-width: 720px) {
  .container {
    border: 5px solid rgb(136, 13, 136);
    flex-direction: column;

    flex-wrap: wrap;
  }
}

.item {
  background: rgb(78, 41, 165);
  padding: 20px;
  margin: 5px;

  text-align: center;
}

.item-secondary {
  background: rgb(84, 184, 184);
  padding: 20px 50px;
  margin: 5px;

  text-align: center;
}
