@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Code', -apple-system;
  background-color: #040404;
  color: #fefeff;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 900;
  }

  p {
    color: rgb(221, 111, 129);
  }

  img {
    margin-top: 22px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

