@import 'abstracts/colors';
@import 'abstracts/effects';

@mixin responsive-tablet {
  @media screen and (max-width: 960px) {
    @content;
  }
}

@mixin responsive-mobile {
  @media screen and (max-width: 720px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $black;
  font-family: 'Fira Code', monospace;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 32px;
  color: $white;

  span {
    color: $pink;
  }

  @include responsive-tablet {
    font-size: 26px;
  }

  @include responsive-mobile() {
    font-size: 22px;
  }
}

.link {
  display: inline-block;
  text-decoration: none;

  background-color: $purple;
  color: $white;
  font-size: 16px;

  padding: 20px 220px;
  border-radius: 8px;

  margin-top: 24px;

  transition: .5s ease;

  &:hover {
    box-shadow: $box-shadow-purple;
  }

  @include responsive-tablet() {
    padding: 20px 170px;
  }

  @include responsive-mobile() {
    padding: 20px 140px;
  }
}

.list {
  width: 50%;
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  li {
    padding: 10px 12px;
    list-style: none;
    transition: 0.5s ease;

    a {
      text-decoration: none;
      font-size: 24px;
      color: $white;
    }

    &:hover {
      opacity: 0.7;
    }

  }

  :nth-child(odd) {
    align-self: flex-end;
  }

  @include responsive-tablet() {
    li {
      a {
        font-size: 16px;
      }
    }
  }

  @include responsive-mobile() {
    :is(li, :nth-child(odd)) {
      align-self: center;
    }
  }
}

p {
  color: $white;

  padding: 20px;
  margin-top: 64px;
  font-size: 24px;

  @include responsive-tablet() {
    font-size: 18px;
  }

  @include responsive-mobile() {
    color: $gray;
    font-size: 14px;
  }
}

