* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #040404;
  font-family: "Mochiy Pop P One", sans-serif;

  section {
    p {
      color: #fff;
    }

    h1 {
      color: #fff;
    }

    h2 {
      color: #ccc;
    }
  }
}
