* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #040404;
  font-family: "Mochiy Pop P One", sans-serif;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;

  h1 {
    letter-spacing: 8px;
  }

  h2 {
    margin-top: 22px;
    align-self: center;
    letter-spacing: 6px;

    span {
      letter-spacing: normal;
      color: #cf649a;
    }
  }

  p {
    font-size: 22px;
    margin-top: 40px;
    align-self: center;
    color: rgb(230, 93, 150);
  }
}
